<mat-card>
  <mat-card-header *ngIf="raceEvents">
    <mat-card-title>Latest events</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="raceEvents">
    <mat-spinner *ngIf="isBusy"></mat-spinner>
    <mat-nav-list>
      <a mat-list-item *ngFor="let rEvent of raceEvents" routerLink="/events/{{rEvent.id}}">
        <strong>{{rEvent.id}}:</strong>&nbsp;{{ rEvent.name }} ({{ rEvent.race_type }}/{{ rEvent.round_type }} - {{ rEvent.num_laps }})
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header *ngIf="raceEvents">
    <mat-card-title>Lap count</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="raceEvents">
    <mat-spinner *ngIf="isBusy"></mat-spinner>
    <div *ngIf="racerLaps" class="container-fluid" style="margin-top: 10px">

      <div class="table-row header">
        <div class="text">Racer</div>
        <div class="text">Lifetime Laps</div>
        <div class="text">Last 7 Days Laps</div>
      </div>

      <div *ngFor="let entry of racerLaps; let i = index" class="table-row">
        <div class="text"><a routerLink="/racers/{{entry.id}}">{{entry.name}}</a></div>
        <div class="text">{{entry.lifetimeLapCount}}</div>
        <div class="text">{{entry.recentLapCount ? entry.recentLapCount : 0}}</div>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
