<main>
  <mat-toolbar color="primary">
      <mat-toolbar-row>
          <span routerLink="/" class="example-icon"><mat-icon>ic_drive_eta</mat-icon></span>
          <span class="example-icon">TM Racing</span>
          <button class="example-icon" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
          </button>
      </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
    <button mat-menu-item routerLink="/events">Events</button>
    <button mat-menu-item routerLink="/racers">Racers</button>
    <button mat-menu-item routerLink="/tracks">Tracks</button>
  </mat-menu>
  <router-outlet></router-outlet>
</main>