/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }

  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-nav-list {
    justify-content: center;
  }

  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }
 

  .table-row {
    display: flex;           display: -webkit-flex;
    flex-direction: row;     -webkit-flex-direction: row;
    flex-grow: 0;            -webkit-flex-grow: 0;
    flex-wrap: nowrap;       -webkit-flex-wrap: nowrap;
    width: 100%;
  }
  
  .text {
    flex-grow: 1;            -webkit-flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .text {
    width: 180px;
  }
  
  .num {
    width: 80px;
  }
  
   .table-row {
    border-bottom: 2px solid #e0e0e0;
    border-collapse: collapse;
    padding-top: 5px;
  }
  
  .table-row.header {
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
  }